---
import Layout from "../layouts/PageLayout.astro";
import Card from "../components/Card.astro";
import Input from "../components/Input.astro";

import goldenSixArnold from "../assets/images/exercises/golden-six-arnold.avif";
import goldenSevenArnold from "../assets/images/exercises/golden-seven-arnold.avif";

const meta = {
  title: "Workouts",
  description:
    "Revolutionize your fitness with tailored workouts for any level!",
};

const cards = [
  {
    link: "/workouts/golden-six",
    image: { src: goldenSixArnold, alt: "Arnold's Golden Six" },
    title: "Golden Six",
    subtitle: "Is this the perfect beginner's session?",
  },
  {
    link: "/workouts/golden-seven",
    image: { src: goldenSevenArnold, alt: "Modern Golden Six" },
    title: "Golden Seven",
    subtitle: "Golden Six but with a modern twist",
  },
];
---

<Layout {meta}>
  <div class="max-w-5xl mx-auto">
    <Input
      type="search"
      id="cards-search-input"
      placeholder="Search workouts"
    />

    <Card cards={cards} />
  </div>

  <script src="../scripts/workouts.ts"></script>
</Layout>
