---
import heroGymImage from "../assets/images/gym-stock-image.avif";
---

<div class="hero min-h-screen" style={`background-image: url(${heroGymImage.src});`}>
  <div class="hero-overlay bg-opacity-60 backdrop-blur-sm"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold text-accent">Your Ultimate Workout Companion</h1>
      <p class="mb-5 text-slate-100">
        Take your fitness journey to the next level with personalized workouts and real-time progress tracking. Join our
        community and start achieving your goals today!!
      </p>
      <a href="/workouts" class="btn btn-primary hover:btn-accent"> Get Started </a>
    </div>
  </div>
</div>
