---
import Layout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { type MetaSEO } from "../types";

export interface Props {
  meta?: MetaSEO;
  isHome?: boolean;
}

const { meta, isHome = false } = Astro.props;
---

<Layout {meta}>
  <slot name="header">
    <Header isSticky showToggleTheme isHome={isHome} />
  </slot>
  <main class={`flex-grow ${isHome ? "-mt-[68px] md:-mt-[85px]" : ""}`}>
    <slot />
  </main>
  <slot name="footer">
    <Footer />
  </slot>
</Layout>
